
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
     <form action="/Admin/Giris" method="post">
         <table>
             <tr>
                 <td>Kullanıcı Adı:</td>
                 <td><input type="text" name="kullaniciadi" /></td>
             </tr>

             <tr>
                 <td>Şifre :</td>
                 <td><input type="password" name="sifre" /></td>
             </tr>

             <tr>
                 <td></td>
                 <td><input type="submit" value="Giriş" /></td>
             </tr>
         </table>
     </form>
    </div>
</body>
</html>
